<div class="col-md-4 center">
    <h1 class="text-xxl text-primary text-center">404</h1>
    <div class="details  text-center">
        <h3>عفوا! حدث خطأ ما</h3>
        <h3>Signature Oops! Quelque chose a mal tourné</h3>
        <p> ونحن لا يمكن العثور على الصفحة التي تبحث عنها. عودة<a href="{{ path('reregistration_homepage') }}">الصفحة الرئيسية </a> أو البحث. </p>
        <p>Nous ne pouvons pas trouver la page que vous cherchez. Retour <a href="{{ path('reregistration_homepage') }}">Accueil</a> ou rechercher.</p>
    </div>
    <form class="input-group">
        <input type="text" class="form-control" placeholder="البحث">
        <span class="input-group-btn">
            <button class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>
    </form>
</div>
