{% extends '::layout.html.twig' %}

{% block body %}
    <a href="{{ path('fos_user_profile_show') }}">
        <div class="col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading text-center">
                    <h1 class="panel-title">BAC + 2 | DUEG | دبلوم الدراسات الجامعية</h1>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </a>
    <a href="{{ path('fos_user_profile_show') }}">
        <div class="col-md-6">
            <div class="panel panel-purple">
                <div class="panel-heading text-center">
                    <h1 class="panel-title">BAC + 3 | Licence | الإجازة</h1>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </a>
    <a href="{{ path('fos_user_profile_show') }}">
        <div class="col-md-6">
            <div class="panel panel-blue">
                <div class="panel-heading text-center">
                    <h1 class="panel-title">BAC + 5 | Master | الماستر</h1>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </a>
    <a href="{{ path('fos_user_profile_show') }}">
        <div class="col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading text-center">
                    <h1 class="panel-title">BAC + 8 | Doctorat | الدكتوراة</h1>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </a>
{% endblock %}

