<div class="page-footer">
    <p class="no-s">
        Copyright &copy; 2016 - {{ "now" | date("Y") }} - <span class="text-info">ENSAF</span> - inscription en ligne des candidats dans la faculté des litre sais - Fes - <span class="text-primary"> KHACHIAI OUSSAMA et LAHKIM AYOUB </span>
    </p>
</div>