<div class="col-md-12">

    <!-- START DEFAULT WIZARD -->
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Inscription Master</h3>
            <form action="javascript:alert('Validated!');" role="form" class="form-horizontal" id="wizard-validation">
                <div class="wizard show-submit wizard-validation">
                    <hr>
                    <div id="step-1">
                        <h4>Les informations générale</h4>
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">{{ 'lastName'|trans }}</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">{{ 'firstName'|trans }}</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">الإسم الشخصي</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">الإسم العائلي</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Genre</label>
                                <div class="col-md-6 col-xs-12">
                                    <label class="check">
                                        <input type="radio" name="sexe" class="iradio" checked="checked" value="M"/>
                                        Homme
                                        <input type="radio" name="sexe" class="iradio" value="F"/> Femme
                                    </label>
                                    <span class="help-block">Checkbox sample, easy to use</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Avez-vous un Handicape ?</label>
                                <div class="col-md-6 col-xs-12">
                                    <label class="check">
                                        <input type="radio" name="handicap" class="iradio" value="yes"/> Oui
                                        <input type="radio" name="handicap" class="iradio" checked="checked"
                                               value="no"/> Non
                                    </label>
                                    <span class="help-block">Checkbox sample, easy to use</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Date deNaissance</label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <label for="dp-4"></label><input type="text" class="form-control"
                                                                         value="05/15/2013" id="dp-4"/>
                                        <span class="input-group-addon add-on"><span
                                                    class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <span class="help-block">Checkbox sample, easy to use</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Lieu de naissance</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">مكان الإزدياد</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">N° CIN</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step-2">
                        <h4>Coordonnés</h4>
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Adresse</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-home"></span></span>
                                        <label>
                                            <textarea type="text" name="addres" class="form-control"></textarea>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Ville</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" name="city" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">GSM</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-mobile-phone"></span></span>
                                        <label>
                                            <input type="text" name="phone" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Nom et prénom du père</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" name="fullNameFuther" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Fonction du père</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" name="funtherFunction" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Nom et prénom du mère</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" name="fullNameMather" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Fonction du mère</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" name="matherFunction" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step-3">
                        <h4>Informations Baccalauéat</h4>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Type Bac</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Académie</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Série du bac</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Mention du bac</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Année d'obtention du bac</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                    </div>
                    <div id="step-4">
                        <h4>Informations diplôme</h4>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Type dilpôme</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Etablissement d'origine</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Filiére</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Spécialité</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Année d'obtention</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Mention</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <label>
                                        <input type="text" name="matherFunction" class="form-control"/>
                                    </label>
                                </div>
                                <span class="help-block">This is sample of text field</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END DEFAULT WIZARD -->
</div>