<div class="col-md-12">

    <!-- START DEFAULT WIZARD -->
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Inscription Master</h3>
            <div class="wizard">
                    <ul>
                        <li>
                            <a href="#step-1">
                                <span class="stepNumber">1</span>
                                <span class="stepDesc">Étape 1<br/><small>Les information générale</small></span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="stepNumber">2</span>
                                <span class="stepDesc">Étape 2<br/><small>Coordonnés</small></span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-3">
                                <span class="stepNumber">3</span>
                                <span class="stepDesc">Étape 3<br/><small>Informations Baccalauéat</small></span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4">
                                <span class="stepNumber">4</span>
                                <span class="stepDesc">Étape 4<br/><small>Informations diplôme</small></span>
                            </a>
                        </li>
                    </ul>
                <hr>
                <form action="#" role="form" class="form-horizontal">
                    <div id="step-1">
                        <h4>Les information générale</h4>
                        <p>
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies
                            vehicula.
                        </p>
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Nom</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Prénom</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">الإسم الشخصي</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">الإسم العائلي</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Genre</label>
                                <div class="col-md-6 col-xs-12">
                                    <label class="check">
                                        <input type="radio" name="sexe" class="iradio" checked="checked" value="M"/> Homme
                                        <input type="radio" name="sexe" class="iradio" value="F"/> Femme
                                    </label>
                                    <span class="help-block">Checkbox sample, easy to use</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Avez-vous un Handicape ?</label>
                                <div class="col-md-6 col-xs-12">
                                    <label class="check">
                                        <input type="radio" name="handicap" class="iradio" value="yes"/> Oui
                                        <input type="radio" name="handicap" class="iradio" checked="checked" value="no"/> Non
                                    </label>
                                    <span class="help-block">Checkbox sample, easy to use</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Avez-vous un Handicape ?</label>
                                <div class="col-md-6 col-xs-12">
                                    <label class="check">
                                        <input type="radio" name="handicap" class="iradio" value="yes"/> Oui
                                        <input type="radio" name="handicap" class="iradio" checked="checked" value="no"/> Non
                                    </label>
                                    <span class="help-block">Checkbox sample, easy to use</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Date deNaissance</label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <label for="dp-4"></label><input type="text" class="form-control" value="05/15/2013" id="dp-4"/>
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <span class="help-block">Checkbox sample, easy to use</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Lieu de naissance</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">مكان الإزدياد</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">N° CIN</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <label>
                                            <input type="text" class="form-control"/>
                                        </label>
                                    </div>
                                    <span class="help-block">This is sample of text field</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step-2">
                        <h4>Coordonnés</h4>
                        <p>
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies
                            vehicula.
                        </p>
                    </div>
                    <div id="step-3">
                        <h4>Informations Baccalauéat</h4>
                        <p>
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies
                            vehicula.
                        </p>
                    </div>
                    <div id="step-4">
                        <h4>Informations diplôme</h4>
                        <p>
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies
                            vehicula.
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END DEFAULT WIZARD -->
</div>