
<div class="horizontal-bar sidebar">
    <div class="page-sidebar-inner slimscroll">
        <div class="sidebar-header">
            <div class="sidebar-profile">
                <a href="javascript:void(0);" id="profile-menu-link">
                    <div class="sidebar-profile-image">
                        <img src="{{ asset('bundles/reregistration/assets/images/avatar1.png') }}" class="img-circle img-responsive" alt="">
                    </div>
                    <div class="sidebar-profile-details">
                        <span>Khachiai oussama<br><small>PHP Developer</small></span>
                    </div>
                </a>
            </div>
        </div>
        <ul class="menu accordion-menu">
            <li>
                <a href="index.html" class="waves-effect waves-button">
                    <span class="menu-icon fa fa-home"></span>
                    Home
                </a>
            </li>
            <li>
                <a href="index.html" class="waves-effect waves-button">
                    <span class="menu-icon fa fa-graduation-cap"></span>
                    Bac+2
                </a>
            </li>
            <li>
                <a href="index.html" class="waves-effect waves-button">
                    <span class="menu-icon fa fa-graduation-cap"></span>
                    Licence
                </a>
            </li>
            <li>
                <a href="index.html" class="waves-effect waves-button">
                    <span class="menu-icon fa fa-graduation-cap"></span>
                    Master
                </a>
            </li>
            <li>
                <a href="index.html" class="waves-effect waves-button">
                    <span class="menu-icon fa fa-graduation-cap"></span>
                    Doctorat
                </a>
            </li>
        </ul>
    </div><!-- Page Sidebar Inner -->
</div><!-- Page Sidebar -->