<!DOCTYPE html>
<html>
<head>
    <title>{{ "now"|date("Y") }}-Re-Inscription{% block title %}{% endblock %}</title>
    {# META SECTION #}
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Platforme d'incription pour les étudiants de la faculté des lettres saiss de Fés"/>
    <meta name="keywords" content="inscription, re-inscription, fl saiss fes"/>
    <meta name="author" content="khachiai oussama"/>
    <link rel="stylesheet" type="text/css" href="http://registration.com/bundles/reregistration/assets/plugins/bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
