<div class="col-md-6 center">
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Le Choix de la Filière <span class="text-right"> الشعبة</span> </h4>
        </div>
        <div class="panel-body">
            <form action="{{ path('reregistration_choix_filiere') }}" method="post">
                <div class="form-group">
                    <label for="filiere">Filiére | الشعبة</label>
                    <br>
                    <select class="form-control" name="filiere" id="filiere">
                        {% for filiere in filireLicence %}
                            <option value="{{ filiere.id }}">{{ filiere.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Sélectionner | إختر</button>
            </form>
        </div>
    </div>
</div>